{:presets {:memory
             [{:bean "java.lang:type=Memory"
               :attribute "HeapMemoryUsage.used" :as "mem_used"}
              {:bean "x" :attribute "y" :as "q"}
              {:bean "x" :attribute "y" :as "q2"}

              ]

           ; --- whatsup ---
           :kafka [{:bean "x" :attribute "y" :as "k1"}]

           }

   :servers [{:creds {}
              :extra-attrs {:host "srv" :jvm "kafka"}
              :polling [:memory :kafka]}]}



